@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
header{background-color: #74c69d;}

h1{font-weight: 500;text-align: center;padding-bottom: 50px;}
h2{text-align: center; padding-bottom: 30px;font-size: 15px;}
h3{text-align: center; padding-bottom: 50px; font-size: 15px;}
ul{display: flex;justify-content: space-between
}
ul li{list-style: none;display: inline-block;}
ul li a{text-decoration: none;color: black;text-transform: uppercase; font-weight: bold;margin: 30px;margin-bottom: 60px;}
header{border: 1px solid black;}
main{text-align: center;}
main p {margin-top: 20px}
footer{background-color: #74c69d; border: 1px solid black}
.anclas{font-size: 1.3rem;color:black;font-weight: 450;}
.anclas:hover{ text-decoration: underline; color: midnightblue;}
.colorfondo{background-color: #74c69d;}